!!!
%html
  %head
    %title InkGuy USA
    %link{:href=>'/css/bootstrap.css', :type=>'text/css', :rel=>'stylesheet'}
    %script{:src=>'/js/bootstrap.js', :type=>'text/javascript'}
    %link{:href=>'/css/main.css', :type=>'text/css', :rel=>'stylesheet'}
  %body
    #top-nav-bar.navbar
      .navbar-inner
        .container
          %h3 InkGuy USA
    %div
      This is another section
    %ul
      %li list 1
      %li.red list 2
      %li list 3
    %span hello
    %span world
